/*@import "reset.css";*/
.myblock {
    background-color: #ffffff;
    width: 450px;
    padding: 50px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
}
body{
    background-color: #e9e3e3;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 2%, 63%);
}
.imground {
    border: 5px solid transparent;
    border-radius: 50%;
    border-color: gray;
    /*border-image-width: 10px;*/
  }
.imgcenter 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.titlecenterred{
    text-align: center;
    color: rgb(223, 47, 47);
    font-weight: 900;
    
}
.titlecentergray{
    text-align: center;
    color: gray;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.box div {
    width:fit-content;
    height: 100px;
}
.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #d82c26;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
ul#myRow li {
    display:inline-block;
    width: auto;
  }
.grayscale{
    color: gray;
}
.linknoformat{
    color: grey;
    text-decoration: none;
}
.boxmargins{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.imgsize{
    width: 100px;
    height: 150px;
}
h2 span{
  background-color: hsl(0, 3%, 83%);
}
.ulunstiled{
  list-style-type: none;
}